*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.container{
    
    height: 100vh;;
    width: 100%;
    margin: auto;

    background: linear-gradient(to right, rgb(125, 125, 251), rgb(235, 101, 213)
     50%, #0000ff);
}
.head{
    
    display: flex;
    justify-content: center;
}
h1{
    margin: 10px auto;
}
.input-container{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 50px;
    

}
.inputfield{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
    border: none;
    
    padding-left: 10px;
}
.add-task{
    width: 100px;
    height:30px ;
    border-radius: 5px;
    background-color: rgb(46, 40, 40);
    color: white;
    margin-top:10px;
    cursor: pointer;
    font-size: 15px;
}
.sections{
    display: flex;
    
    justify-content: center;
}
.box{
    border: 1px solid black;
    width: 20%;
    height: 500px;
    margin-left: 20px;
    margin-top: 100px;
    background-color: linen;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;


}
.section-heading{
    margin-left: 10px;
    margin-top: 10px;
    
}
.added-element{
    width: 95%;
    height: 90%;
    
    border-radius: 10px;
    margin-left:5px;
    margin-top: 10px;

    list-style-type: none;
    overflow: scroll;
}
.item{
    height: 50px;
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: bisque;
    cursor: move;
    overflow: hidden;
    font-size: 16px;
   /* box-shadow: #0000ff; */
}
.is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
  }